@use '@angular/material' as mat;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark light;
  @include mat.theme((
    color: mat.$spring-green-palette,
    typography: Roboto,
    density: 0,
  ));
}

body.light-mode {
  color-scheme: light;
}

body.dark-mode {
  color-scheme: dark;
}